footer {
  .container {
    padding: 2rem 0;
  }

  .footer-light {
    background-color: #aaaaaa;
  }
  .footer-dark {
    background-color: #202124;
  }
}
.site-info.light {
  background: #555555;

  .container {
    padding: 0.5rem 0;
    color: #fff;
    text-align: center;
  }
}
