* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

body {
  background-image: url("../../assets/images/bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: #ff0000;
    text-decoration: none;
  }
  .container {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
